<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
    <div class="flex flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight">ATOS TESTLAB</span>
    </div>
    <div class="d-flex text-white text-xl mr-6">
      <app-menu></app-menu>
    </div>
</nav>
