<app-header></app-header>
<br>
<div class="h-full w-4/5 mx-auto bg-graphcolor">
  <router-outlet></router-outlet>
  <br>
  <hr class="border-1 border-gray-500 border-opacity-50 filter drop-shadow-md md:drop-shadow-xl">
  <br>
  <app-dropdown></app-dropdown>
  <br>
  <hr class="border-1 border-gray-500 border-opacity-50 filter drop-shadow-md md:drop-shadow-xl">
  <br>
  <div class="text-center">
    <span class="font-semibold text-lg text-white">Current temperature</span>
  </div>
  <div class="h-80">
    <iframe src="http://localhost:3000/d-solo/l59M0DNnk/josmaloparadi?orgId=1&from=now-7d&to=now&refresh=10s&panelId=4" width="100%" height="100%" frameborder="0"></iframe>
  </div>
  <br>
  <hr class="border-1 border-gray-500 border-opacity-50 filter drop-shadow-md md:drop-shadow-xl">
  <br>
</div>