<div class="flex justify-items-end">
    <select id="student-detail" class="p-2 text-center text-lg">
        <option>Select time period</option>
        <option value="minutes">Last 15 minutes</option>
        <option value="hour">Last hour</option>
        <option value="week">Last week</option>
    </select>
</div>

<div id="details-container">
    <div class="minutes details">
        <div class="text-center">
            <span class="font-semibold text-lg text-white">Temperature graph last 15 minutes</span>
        </div>
        <div class="h-96">
            <iframe src="http://localhost:3000/d-solo/l59M0DNnk/josmaloparadi?orgId=1&from=now-15m&to=now&refresh=10s&panelId=2" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>
    <div class="hour details">
        <div class="text-center">
            <span class="font-semibold text-lg text-white">Temperature graph last hour</span>
        </div>
        <div class="h-96">
            <iframe src="http://localhost:3000/d-solo/l59M0DNnk/josmaloparadi?orgId=1&from=now-1h&to=now&refresh=10s&panelId=2" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>
    <div class="week details">
        <div class="text-center">
            <span class="font-semibold text-lg text-white">Temperature graph last week</span>
        </div>
        <div class="h-96">
            <iframe src="http://localhost:3000/d-solo/l59M0DNnk/josmaloparadi?orgId=1&from=now-7d&to=now&refresh=10s&panelId=2" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>
</div>