<div class="dropdown">
    <button class="btn text-white text-xl" type="button" data-bs-toggle="dropdown" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bars" style="font-size: larger;"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/">Home</a>
        <a class="dropdown-item" routerLink="/table">Table</a>
    </div>
</div>